{% extends 'site/layout.html' %}
{% load physical_address %}
{% load contact_number %}
{% load teams %}
{% load services %}
{% load stats %}

{% block content %}

    {% services %}
    {% teams %}

    {% if promotion  %}
        {% include "site/partials/promotion.html" %}
    {% endif %}




    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Work</h2>
            <p></p>
          </div>
        </div>
        <div class="row">
			 {% for work_category in work_categories%}

			 <div class="col-md-4 ftco-animate" data-src="{{ work_category.featured_image }}">
                        <a href="work.html" class="work-thumb">
                            <div class="card shadow-sm h-100 border-0">
                                <img src="{{ work_category.featured_image.url }}"
                                     class="card-img-top img-fluid"
                                     alt="{{ work_category.name }}"
                                     style="height: 350px; object-fit: cover; object-position: top; border-top-left-radius: .5rem; border-top-right-radius: .5rem;">

                            </div>
                        </a>
                    </div>


			 {% endfor %}
        </div>
    	</div>
    </section>

   	{% stats %}

{% endblock content %}