{% extends 'site/layout.html' %}
{% load physical_address %}
{% load contact_number %}
{% load teams %}
{% load services %}
{% load stats %}

{% block site-title %}
    Hairitage Studio - Services
{% endblock site-title %}
{% block content %}

	<section class="ftco-section bg-light">
        <div class="container">
          	<div class="col-md-12 heading-section text-center ftco-animate mb-5">
              <h2 class="mb-4">{{post.title}}</h2>
					<p>{{ post.content |safe }}</p>
            </div>
        </div>
    </section>

    {% services %}

    {% if promotion  %}
        {% include "site/partials/promotion.html" %}
    {% endif %}

	{% stats %}

{% endblock content %}