<section class="ftco-section ftco-discount img" style="background-image: url({{ promotion.banner.url }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-5 discount ftco-animate">
                    <h3>Save up to {{ promotion.rate }}% Off</h3>
                    <h2 class="mb-4">{{ promotion.title }}</h2>
                    <p class="mb-4">{{ promotion.description }}</p>
                    <p><a href="#" class="btn btn-white btn-outline-white px-4 py-3">Book Now</a></p>
                </div>
            </div>
        </div>
    </section>

