<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
{% if twitter %}
<li class="ftco-animate">
    <a target="_blank" href="#"><span class="icon-twitter"></span></a>
</li>
{% endif %}
{% if facebook %}
<li class="ftco-animate">
    <a target="_blank" href="{{ facebook }}"><span class="icon-facebook"></span></a>
</li>
{% endif %}
{% if instagram %}
<li class="ftco-animate">
    <a target="_blank" href="{{ instagram }}"><span class="icon-instagram"></span></a>
</li>
{% endif %}
</ul>